// Place all the styles related to the Admin::Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.a{
  margin-right: 30px;
  display: inline-block;
}
.b{
  display: inline-block;
}
.sign_up_label{
  margin: 30px 0 50px 0;
}
