// Place all the styles related to the Admin::Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.a{
  margin-right: 30px;
  display: inline-block;
}
.b{
  display: inline-block;
}
.sign_up_label{
  margin: 30px 0 50px 0;
}
.admin_name_label ,.admin_email_label{
  margin-left: 10px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
}
.admin{
  margin-bottom: 10px;
}
.admin_name,.admin_email{
  display: inline-block;
  margin: 30px 10px 30px 10px;
  font-size:20px;
}
.admin_delete{
  margin-top: 0 !important;
}
