// Place all the styles related to the Admin::Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.movie-information{
  margin-left: 30px;
}
.movie_relation_product button{
  margin:1px;
}
.movie-url a{
  margin-top: 1px;
}
.movie-detail{
  font-size: 50px;
}
.detail-content{
 border-top: solid;
 border-bottom: solid;
 padding: 10px 0;
}
.movie{
  margin-bottom: 10px;
}
.movie_name{
  margin-left: 10px;
  display: block;
  font-size: 20px;
}
.movie_edit{
  margin-right: 5px;
  margin-top: 0 !important;
}
.movie_delete{
  margin-left: 5px;
  margin-top: 0 !important;
}
.movie_image{
  margin-bottom: 10px;
}
.movie_title{
  display: block;
  margin: 30px 10px 30px 10px;
  font-size:20px;
}
