<<<<<<< HEAD
<h1>管理者一覧</h1>
<% @admins.each do |admin| %>
  <%= admin.name %>
  <%= admin.email %>
  aaa
  <%= link_to "削除", admin_path(admin), method: :delete %>
<% end %>
=======
>>>>>>> 4abdc002822d5b3defefe5cda1d6e27b31d27d7f
