　  <ul class="sidebar">
     画像表示
     <li class="active bg-secondary"><%= link_to "プロフィール編集",edit_user_path(user) %></li>
     <li><%= link_to "購入履歴",user_histories_path %></li>
     <li><%= link_to "お気に入り", favorites_path(user) %></li>
     <li><%= link_to "見たことある映画", user_path(user) %></li>
　  </ul>

