<div class="row">
  <h3 class="text-center">退会確認</h3><br />
  <%= image_tag("note.png",:size => "550x550",class:"center-block") %><br/><br/>
  <div class="botton text-center">
    <button type="button" class="btn-warning btn-lg">退会する</button>
    <button type="button" class="btn-warning btn-lg">退会しない</button>
  </div>
</div>