<div class="row">
   <h2 class="text-center profil-title">購入情報</h2>
   <%= form_for(current_user) do |f| %>
     <%= f.text_field :email, :placeholder => "#{current_user.prefecture}" %>
     <%= f.text_field :
   <% end %>
</div>