<div class="row">
  <div class="main center-block">
     背景画像を作成され次第挿入する。
    <button herf="#" type="button" class="btn btn-primary center-block">Primary</button>
  </div>
  <%= image_tag("how_to_use.png",:size => "1100x550",class:"center-block") %>
</div>
