<div class="row">
  <div class="main center-block">
     背景画像を作成され次第挿入する。
    <%= link_to "商品をみてみる",user_products_path,class:"btn btn-primary center-block" %>
  </div>
  <div class="how_to_use"></div>
</div>
