<div class="row">
  <div class="main">

    <% unless @lp_image.nil? %>
    <div class="top-img">
      <%= attachment_image_tag @lp_image, :image %>
      <%= link_to "商品をみてみる",user_products_path,class:"btn btn-primary" %>
    </div> 
    <% end %>

  </div>
  <div class="how_to_use center-block"></div>
</div>
