// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
    height:300px;
    width:300px;
    background-size: cover;
}
.btn{
    margin-top:50%;
}
.how_to_use{
    background-image: url("how_to_use.png");
    height:550px;
    width:1100px;
    background-size: cover;
}