// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
    //仮の高さ
    height:300px;
    width:300px;
}
.btn{
    margin-top:50%;
}