// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
    height:300px;
}
.btn{
    margin-top:50%;
}
.how_to_use{
    background-image: url("/images/how_to_use.png");
    height:550px;
    width:1100px;
    background-size: cover;
    margin-top:150px;
}
.top-img{
    text-align: center;
    img{
    width:100%;
    height:400px;
    }
    a{
        position: relative;
        bottom:150px;
    }
    margin: 0 auto;
    background-size: cover;
}