// Place all the styles related to the User::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ranking{
    border:1px solid #000;
    position: relative;
    padding: 1em 2em;
    .title{
      position: absolute;
      top:0;
      transform: translateY(-50%) translateX(1em);
      background-color: white;
      padding: 0 1em;
    }
}

.product-block{
   width:28%;
   float:left;
   margin-right:30px;
}
.detail-block,.product-img{
    div{
        float:left;
    }
    .btn{
        margin-top:10px;
    }
}
table{
    margin-top:20px;
}
.track-title{
    border-bottom:3px solid #CB7762;
    font-size: 20px;
}
.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.related-product{
    display:inline-block;
    width:30%;
    margin-right:5%;
}